
*.xml
*.DataYee-force
*.patch
*.pyc
*.xlsx
*.png
*.xls
*.iml
*.gz
src/MINIST/MNIST/raw/t10k-images-idx3-ubyte
src/MINIST/MNIST/raw/t10k-labels-idx1-ubyte
src/MINIST/MNIST/raw/train-images-idx3-ubyte
src/MINIST/MNIST/processed/test.pt
src/MINIST/MNIST/raw/train-labels-idx1-ubyte
maxforce.txt
*.cluster-matrix
